# Ignore Gradle project-specific cache directory
/OnlineShopSimulator/.gradle
/OnlineShopSimulator/build/

# Ignore Gradle GUI config
/OnlineShopSimulator/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!/OnlineShopSimulator/gradle/wrapper/gradle-wrapper.jar

# Cache of project
/OnlineShopSimulator/.gradletasknamecache

# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
#/OnlineShopSimulator/gradle/wrapper/gradle-wrapper.properties

# Eclipse
/OnlineShopSimulator/.classpath
/OnlineShopSimulator/.project
/OnlineShopSimulator/.settings/
/OnlineShopSimulator/bin/
